# Copie este arquivo para .env e preencha os valores

# Gere uma chave secreta: python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
SECRET_KEY=e#q@h!9-7^5vpyt@h#rw-%9iy1*07l32y@76wg-%t)g9x-a)&2

# False para produção
DEBUG=False

# Domínio do seu app no Render (ex: petshop-pro.onrender.com)
ALLOWED_HOSTS=petshop-pro.onrender.com

# Database URL (o Render fornece isso automaticamente como variável de ambiente)
 DATABASE_URL=postgresql://postgres_petshop_saas_user:NimEHhU35maRgJHU51wcPlQmWBNzFNhX@dpg-d7lhhif7f7vs73b3n2n0-a.ohio-postgres.render.com/postgres_petshop_saas